Repository eon-collective/python_project_template: changes, and which pre-commit hooks are due for each by the changed paths.
All: bandit, black, isort, mypy, pydocstyle, flake8

.pre-commit-config.yaml:

exclude: ^(.venv|docs)/
repos:
- repo: local
  hooks:
  - id: bandit
    name: bandit
    entry: bandit run
    language: system
    types: [python]
    exclude: ^docs/|^tests/

- repo: local
  hooks:
  - id: black
    name: black
    entry: black
    language: system
    types: [python]

- repo: local
  hooks:
  - id: isort
    name: isort
    entry: isort
    language: system
    types: [python]

- repo: local
  hooks:
  - id: mypy
    name: mypy
    entry: mypy --no-strict-optional --ignore-missing-imports
    language: system
    types: [python]

- repo: local
  hooks:
  - id: pydocstyle
    name: pydocstyle
    entry: pydocstyle
    language: system
    types: [python]

- repo: local
  hooks:
  - id: flake8
    name: flake8
    entry: flake8
    language: system
    types: [python]
    # Adapt max line length based on black formatting
    args:
    - "--max-line-length=88"
    - "--exclude=base_old_datayml.py"

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-added-large-files
    args: ["--maxkb=10000"]
  - id: trailing-whitespace
  - id: end-of-file-fixer
    exclude: '.*?\.md'
  - id: check-json
  - id: check-merge-conflict
    # - id: check-yaml
  - id: mixed-line-ending
  - id: check-docstring-first
  - id: check-case-conflict

Team Assessment
  requirements.txt
Due: none

Team Assessment
  src/modules/process_team_summary.py
Due: bandit, black, isort, mypy, pydocstyle, flake8

Team Assessment
  src/main.py
Due: bandit, black, isort, mypy, pydocstyle, flake8

Making More Changes
  Dockerfile
  ReadMe.md
  docker_compose.yml
  requirements.txt
  teamke.json
  tests/unit_tests.py
Due: black, isort, mypy, pydocstyle, flake8

Added CIs
  .github/pull_request_template.md
  .github/workflows/Deployment.yml
  .github/workflows/Docker-Build.yml
  .github/workflows/Python-Linting.yml
  .github/workflows/Testing-CI.yml
Due: none

Added Documentation and etc
  docs/Documentation.md
  etc/release_note.md
Due: none

Added etc
  etc/CHANGELOG_template.md
  etc/RELEASE_template.md
  etc/cutover_plan_checklist_template.md
  etc/images/Python Logo.png
  etc/project_structure.md
  etc/pull_request_template.md
  etc/release_note.md
Due: none

Refined testing to use pyunit testing
  .github/workflows/Testing-CI.yml
Due: none

Update Testing-CI.yml
  .github/workflows/Testing-CI.yml
Due: none

Update Python-Linting.yml
  .github/workflows/Python-Linting.yml
Due: none

Update Docker-Build.yml
  .github/workflows/Docker-Build.yml
Due: none

Update main.py
  src/main.py
Due: bandit, black, isort, mypy, pydocstyle, flake8

Update Testing-CI.yml - python 3.8
  .github/workflows/Testing-CI.yml
Due: none

Update Testing-CI.yml - trying pip3
  .github/workflows/Testing-CI.yml
Due: none

Update requirements.txt
  requirements.txt
Due: none

Update process_team_summary.py
  src/modules/process_team_summary.py
Due: bandit, black, isort, mypy, pydocstyle, flake8

Update unit_tests.py
  tests/unit_tests.py
Due: black, isort, mypy, pydocstyle, flake8

Update ReadMe.md
  ReadMe.md
Due: none
